<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <appSettings>
    <add key ="Provider" value ="SQLOLEDB"/>
    <add key ="Data_Source" value ="115.28.37.157,1433"/>
    <add key ="Initial_Catalog" value ="arrangement"/>
    <add key ="User_Id" value ="sa"/>
    <add key ="Password" value ="Root1234"/>
    </appSettings>
</configuration>
